@font-face {
    font-family: 'Comissioner';
    src: url('./assets_tarea/fonts/Commissioner/Commissioner-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Dancing';
    src: url('./assets_tarea/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf');
}