:root {
    --color-primario: #d38a83;
    --color-secundario: rgb(175, 243, 144);
    --color-rojo-transparente: rgba(200, 55, 63, 0.5)
}

* {
    margin: 0px;
    padding: 0px;
}

h1 {
    color: var(--color-primario);
    background-color: rgb(153, 45, 45);
    padding: 8px 20px;
    margin-bottom: 50px;
}

.form-control {
    border: none;
    outline: none;
    padding: 8px;
    border-bottom: 1px solid var(--color-primario);
}

.cuadrado {
    height: 200px;
    width: 200 px;
    background-color: var(--color-secundario);
}


/*tamaños*/

.seccion1 {
    background-color: var(--color-primario);
    height: 60px;
    /* 50% del ancho del padre  */
    width: 50%;
}

.articulo1 {
    background-color: var(--color-secundario);
    height: 30px;
    width: 10%;
}

.parrafo1 {
    width: 200px;
    height: 100px;
    background-color: #ddd;
    /*OVERFLOW SIRVE PARA CONTROLAR EL DESBORDAMIENTO DEL CONTENIDO DE UN ELEMENTO*/
    overflow: auto;
}

.parrafo1 ::-webkit-scrollbar {
    width: 10px;
}

.parrafo1 ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: yellow;
}

.parrafo1::-webkit-scrollbar-track {
    background-color: #aa4433;
}

.badge-rojo {
    width: 100px;
    height: 100px;
    background-color: #991133;
}